<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arielfaridja.ezrahi"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_v2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_v2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ezrahi"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UI.Signup.SignupActivity"
            android:exported="true"
            android:label="@string/title_activity_signup"
            android:noHistory="true"
            android:theme="@style/Theme.Ezrahi" />
        <activity
            android:name="com.arielfaridja.ezrahi.UI.Login.LoginActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.arielfaridja.ezrahi.UI.Main.MainActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.Ezrahi.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arielfaridja.ezrahi.UI.StartupActivity"
            android:exported="true" />
    </application>

</manifest>